@import 'functions';
@import 'vars';

.table-sort {
    cursor: pointer;
    padding-right: ($table-sort-right * 2) + ($table-sort-size * 2) !important;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
    }

    &::before {
        top: calc(50% - (#{$table-border-size} * 2));
        right: $table-sort-right;
        border-width: 0 $table-sort-size $table-sort-size;
        border-bottom-color: $table-sort-border-color;
        transform: translateY(-100%);
    }

    &::after {
        bottom: calc(50% - (#{$table-border-size} * 2));
        right: $table-sort-right;
        border-width: $table-sort-size $table-sort-size 0;
        border-top-color: $table-sort-border-color;
        transform: translateY(100%);
    }
}

.table-sort-asc::before {
    border-bottom-color: $table-sort-active-border-color;
}

.table-sort-desc::after {
    border-top-color: $table-sort-active-border-color;
}
