@import "vars";

.table-sort {
    position: relative;
    padding-right: ($table-sort-right * 2) + ($table-sort-size * 2) !important;
    cursor: pointer;

    &:focus-visible {
        outline: 0;
        box-shadow: $table-sort-focus-box-shadow
    }

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
    }

    &::before {
        top: calc(50% - (#{$table-border-width} * 2));
        right: $table-sort-right;
        border-width: 0 $table-sort-size $table-sort-size;
        border-bottom-color: $table-sort-border-color;
        transform: translateY(-100%);
    }

    &::after {
        right: $table-sort-right;
        bottom: calc(50% - (#{$table-border-width} * 2));
        border-width: $table-sort-size $table-sort-size 0;
        border-top-color: $table-sort-border-color;
        transform: translateY(100%);
    }
}

.table-sort-asc::before {
    border-bottom-color: $table-sort-active-border-color;
}

.table-sort-desc::after {
    border-top-color: $table-sort-active-border-color;
}

.btn-table {
    --ui-btn-color: #{$btn-table-color};
    --ui-btn-border-color: #{$btn-table-border-color};
    --ui-btn-hover-bg: #{$btn-table-hover-bg};
    --ui-btn-hover-border-color: #{$btn-table-border-color};
    --ui-ripple-bg: #{$btn-table-ripple-bg};
    --ui-btn-focus-shadow-rgb: #{$btn-table-focus-shadow-rgb};
}
