$table-border-width: var(--ui-border-width) !default;

$table-sort-size: .35rem !default;
$table-sort-right: .5rem !default;
$table-sort-border-color: var(--ui-border-color-translucent) !default;
$table-sort-active-border-color: var(--ui-primary) !default;

$btn-table-color: var(--ui-secondary-color) !default;
$btn-table-border-color: var(--ui-secondary-color) !default;
$btn-table-hover-bg: rgba(var(--ui-secondary-color-rgb), .2) !default;
$btn-table-ripple-bg: rgba(var(--ui-secondary-color-rgb), var(--ui-ripple-opacity)) !default;
$btn-table-focus-shadow-rgb: var(--ui-secondary-color-rgb) !default;
